.corpo{
    background-color:rgb(25, 25, 95);
}
.text{
    color: #A9A9A9;
    flex-direction: 200%;
    position: relative;
    margin-top: 90px;
}
.texto{
    color:#A9A9A9;
    flex-direction: 200%;
    position: relative;
    margin-top: 70px;
}