.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
  }
  
  .box div {
    width: 200px;
    height: 200px;
  }
      
  .corpo{
    background-color: rgb(56, 56, 143);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text{
    color:#A9A9A9;
  }
  .texto{
   color:#A9A9A9;	
  }