.corpo{
    background-color:rgb(25, 25, 95);
}
.text{
    color: #A9A9A9;
    flex-direction: 40%;
    position: relative;
   
}
.texto{
    color:#A9A9A9;
    flex-direction: 40%;
    position: relative;
}